<%= render 'form' %>

<table>
  <% @cities.each do |city| %>
  <tr id="city_<%= city[:id] %>">
    <td><a href="/cities/<%=city[:id] %>"><span id="name"><%= city[:name] %></span><span id="count">  (<%= city[:count] %>)</a></td>
  </tr>
  <% end %>
</table>
<%= paginate(@cities) %>
