<%= render 'form' %>

<table>
  <% @cities.each do |city| %>
  <tr id="city_<%= city[:id] %>">
    <td>
      <%= link_to city_path(city[:id], :level => @level), :id => city[:id] do %>
        <span id="name"><%= city[:name] %></span> (<span id="count"><%= city[:count] %></span>)
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<%= paginate(@cities) %>
