<%= form_tag("/search", :method => "get") do %>
  <%= search_field_tag("query") %>
  <%= select_tag("tipoBusqueda", options_for_select([['Nombre'], ['Ciudad']], 'Nombre')) %>
  <%= select_tag(:nivel, options_from_collection_for_select(Level.all, :id, :name)) %>
  <%= submit_tag "Buscar" %>
<% end %> 

<% if not(@schools.nil?) then %>
<table id="results" class="zebra-striped">
  <thead>
    <tr>
      <th>Centro</th>
      <th>Ciudad</th>
      <th>Perfil</th>
    </tr>
  </thead>
  <tbody>
  <% @schools.each do |school| %>
    <tr>
      <td id="name"><%= school.name %></td>
      <td id="city"><%= school.city.name unless school.city.nil? %></td>
      <td><%= link_to "Ver", school_path(school) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
