<div class="level" id="<%= @level.id %>">
  <% #TODO: show level, sublevels and navigation links %>
  <h1> <%= @level.name %> </h1>
    <% @sublevels.each do |sublevel| %>
      <div class="sublevel" id="<%= sublevel.id %>">
        <%= sublevel.name %>
      </div>
    <% end %>
</div>

<div id="schools">
  <h2><%= "#{@city.name}: centros de #{@level.name}" %></h2>
  <% @schools.each do |school| %>
    <div class="school" id="<%= school.id %>">
      <%= link_to school.name, school_path(school), id: school.id %>
    </div>
  <% end %>
</div>
