<div class="level" id="<%= @level.id %>">
  <% # TODO: create title based on actual filter %>
  <h1> <%= @level.name %> </h1>
  <ul>
    <% # TODO: pass filter to partial to create sublevel link %>
    <%= render partial: "levels/list", locals: { levels: @sublevels, filter: @filter, filtered_levels: @filtered_levels } %>
  </ul>
</div>

<div id="schools">
  <% # TODO: create title based on actual filter %>
  <h2><%= "Centros" %></h2>
  <% @schools.each do |school| %>
    <%= render partial: "schools/school", locals: { school: school, filter: @filter } %>
  <% end %>
</div>
