<% #TODO: sublevels must be inside their levels %>
<% #TODO: sublevels must link to the list of centers in city with that level %>
<% #TODO: city name must be a link to city_path %>
<% #TODO: school must have a score based on users ratings %>
<% #TODO: school must have comments and users can comment %>
<div class="school">
  <ul>
    <li>Nombre: <span class="name"><%= @school.name %></span></li>
    <li>Ciudad: <span class="city"><%= @school.city.name %></span></li>
    <li>Direccion: <span class="address"><%= @school.address %></span></li>
    <li>Teléfono: <span class="phone"><%= @school.phone %></span></li>
  </ul>
</div>

<div class="levels">
  <h2>Niveles:</h2>
  <ul>
  <% @school.levels.each do |level| %>
    <li><%= level.name %></li>
  <% end %>
  </ul>
</div>
